.header {
  margin-top: 25px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba(17, 17, 17, 0.15);;
}
.header h2 {
  color: #111111;
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
}
@media screen and (max-width: 700px) {
  .header {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h2 {
    color: #111111;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
